<section id="projects">
    <div class="container">
        <h3>Projects</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Javirln/Splitfy-to-Drive" target="_blank">Splitfy to Drive</a></strong>
                    - Splitfy to Drive is a python desktop application which scrapes <a href="https://splityf.com">splitfy</a>
                    to send all data from pools to Google Spreadsheet.
                </h5>
                <h5>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Javirln/BrainTravel" target="_blank">Braintravel</a></strong>
                    - BrainTravel is a web information system oriented to all travellers. It automatically creates a trip
                    planning for you, offering a daily schedule with the highest rated sites in the area. It also has an
                    internal network in which users can interact between them regarding trips they made, commenting and
                    sharing experiences.
                </h5>
                <h5>
                    <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Javirln/TFG" target="_blank">RESTest</a></strong>
                    - Java implementation of the research made about RESTfull services on the final thesis of my degree.
                </h5>
                <h5>
                    <i class="fa fa-gitlab"></i>&nbsp;&nbsp;<strong><a href="https://git.esn.org" target="_blank">ESNhapi</a></strong>
                    - ESNhapi is an API written in Node.js using Docker based technology, that tries to centralize
                    the content from all the ESN network, more than 400 websites and internal projects in one place. With it,
                    we try to provide a one stop place for fetching any kind of information.

                </h5>
                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.agenciastartad.com/" target="_blank">StartAd</a></strong>
                    - Web development of the corporate website of StartAd, a spanish advertising agency based in Seville, Spain.
                </h5>
                <h5>
                    <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://www.npmjs.com/package/has-trailing-slash" target="_blank">has-trailing-slash</a></strong>
                    - Check if a string has trailing slashses easily.
                </h5>
            </div>
        </div>
    </div>
</section>
